/* Common rules */
:root {
    --secondary: #EAEAEA;
    --elements: #B1B1B1;
}

img {
    max-width: 100%;
}

body {
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 90%;
    background-color: white;
}

.personalInfo, .receiverInfo {
    display: flex;
}

/* utilities */
.topPage {
    height: 70px;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.name {
    font-weight: 700;
}

.infoChat {
    font-size: 0.8rem;
}

.profile{
    clip-path: circle(47%);
}

.fullInfo {
    height: 100%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Left page */
.leftPage {
    width: 40%;
    border-right: 0.8px solid var(--elements);
}

.icons {
    color: var(--elements);
    display: flex;
    align-items: center;
}

.icons > i {
    margin: 0.3rem;
    font-size: 1.1rem;
}



/* Right page  */
.rightPage {
    width: 60%;
}